{{extend 'layout.html'}}
<!-- Main content -->
{{=form.custom.begin}}
    <section class="content">
        <div class="row">
        <!-- general form elements -->
        
            <div class="col-xs-5"><!-- Start column1-->
            <!-- form start -->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Chemical Name</label>
                            <div>{{=form.custom.widget.Iname}}</div>
                            <p class="help-block">{{=disposalcode}}</p>
                            
                        </div>
                        <div class="col-xs-3">
                            <label>Quantity</label>
                            <div>{{=form.custom.widget.Iquantity}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label>Bottle Type</label>
                            <div>{{=form.custom.widget.Ireceptacle}}</div>
                        </div>
                        <div class="col-xs-5">
                            <label>Condition</label>
                            <div>{{=form.custom.widget.Icondition}}</div>
                        </div> <!--End three column -->
                        <div class="col-xs-3">
                            <label>Capacity</label>
                            <div>{{=form.custom.widget.Icapacity}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label>Amount</label>
                            <div>{{=form.custom.widget.Iamount}}</div>
                        </div>
                        <div class="col-xs-5">
                            <label>Units</label>
                            <div>{{=form.custom.widget.Iunits}}</div>
                        </div><!--End three column -->

                        <div class="col-xs-6"><!-- two column --> 
                            <label>Shelf</label>
                            <div>{{=form.custom.widget.Ishelf}}</div>
                        </div>
                        <div class="col-xs-6">
                            <label>Container</label>
                            <div>{{=form.custom.widget.Icontainer}}</div>
                        </div><!-- ./two column --> 
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- End column1-->
            
            <div class="col-xs-4"><!-- Start column2-->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div>
                            <label>Item Components</label>
                            {{=form.custom.widget.Icomponents}}
                            <label>Item Comments</label>
                            {{=form.custom.widget.Icomments}}
                        </div>
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- ./column2-->
            
             <div class="col-xs-3"><!-- Start column3-->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div>
                           
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Tag Number</th>
                                        <td>12345</td>
                                    </tr>
                                    <tr>
                                        <th>Dept.</th>
                                        <td>Chemistry</td>
                                    </tr>
                                    <tr>
                                        <th>P.I.</th>
                                        <td>Mike Fournier</td>
                                    </tr>
                                    <tr>
                                        <th>Room Building </th>
                                        <td>120 Latimer</td>
                                    </tr>
                                    <tr>
                                         <th>Accumulation<br> Start Date</th>
                                         <td>1-1-2015</td>
                                    </tr>
                                    <tr>
                                         <th>Pickup Date</th>
                                         <td>1-15-15</td>
                                    </tr>
                                    <tr>
                                         <td colspan="2"><strong>Tag Comments</strong><br> text text textmore text even more even more even more even more even more </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- ./column3-->
            

        

            
        </div><!-- /.row -->
        <div class="box-footer">
            <div class=" btn ">{{=cancelbutton}}</div><div class=" pull-right"> {{=form.custom.submit}}</div>
        </div>
    </div><!-- /.content -->

       
{{=form.custom.end}}<!-- /.form -->    
            <!-- </form>-->
