{{extend 'layout.html'}}
<!--Include DYMO.Label.Framework.js for label printing-->
<script src="{{=URL('static','js/DYMO.Label.Framework.js')}}" type="text/javascript" charset="UTF-8"></script>
<script src="{{=URL('static','js/PrintLabel.js')}}" type="text/javascript" charset="UTF-8"></script>


<!--Include Select2 autocomplete-->
<link rel="stylesheet" href="{{=URL('static','css/select2.min.css')}}"/>
<script src="{{=URL('static','js/select2.min.js')}}" type="text/javascript" charset="UTF-8"></script>

<script type="text/javascript">
$(document).ready(
function () {
    var searchTerm = null;
    // Remote data
    var remoteDataConfig = {
        placeholder: "Search for an option...",
        minimumInputLength: 3,
        ajax: {
            url: '{{=URL('default','getchemindex',scheme=True)}}',//scheme=True lists full URL, including hostname
            dataType: 'json',
            data: function (params) {
                return {
                q: params.term // search term
                };
            },
            processResults: function (data) {
            // parse the results into the format expected by Select2.
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data
            return {
                results: data
            };
        },
        },
        formatResult: function (option) {
            return "<div>" + option.desc + "</div>";
        },
        formatSelection: function (option) {
            return option.desc;
        }
    };

    

    $(".item_name_select").select2(remoteDataConfig)
    .on("change", function(e) {
          // mostly used event, fired to the original element when the value changes
        var data = $(this).select2('data');
   //Then I take the values like if I work with an array
       var value = data.id;
        ajax('{{=URL('default','updatedisposalcode')}}', value, 'target')

        })
    ;
    
});
</script>

<!-- Main content -->
{{=form.custom.begin}}
    <section class="content">
        <div class="row">
        <!-- general form elements -->
        
            <div class="col-xs-5"><!-- Start column1-->
            <!-- form start -->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Chemical Name</label>
                     <!-- onchange ajax javascript to update disposalcode -->
                            

<select class="item_name_select select2-hidden-accessible" id="item_name" name="name" onchange="ajax('{{=URL('default','updatedisposalcode')}}', ['name'], 'target')" style="width: 100%" tabindex="-1" aria-hidden="true">
<option selected="selected" value={{=chemid}}>{{=chemname}}</option>
                            </select> 
                            <div id="target"></div>

                            
                        </div>
                        <div class="col-xs-3">
                            <label>Quantity</label>
                            <div>{{=form.custom.widget.quantity}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label>Bottle Type</label>
                            <div>{{=form.custom.widget.receptacle}}</div>
                        </div>
                        <div class="col-xs-5">
                            <label>Condition</label>
                            <div>{{=form.custom.widget.condition_}}</div>
                        </div> <!--End three column -->
                        <div class="col-xs-3">
                            <label>Capacity</label>
                            <div>{{=form.custom.widget.capacity}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label>Amount</label>
                            <div>{{=form.custom.widget.amount}}</div>
                        </div>
                        <div class="col-xs-5">
                            <label>Units</label>
                            <div>{{=form.custom.widget.units}}</div>
                        </div><!--End three column -->

                        <div class="col-xs-6"><!-- two column --> 
                            <label>Shelf</label>
                            <div>{{=form.custom.widget.Ishelf}}</div>
                        </div>
                        <div class="col-xs-6">
                            <label>Container</label>
                            <div>{{=form.custom.widget.container}}</div>
                        </div><!-- ./two column --> 
                        

                        
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- End column1-->
            
            <div class="col-xs-4"><!-- Start column2-->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div>
                            <label>Item Components</label>
                            {{=form.custom.widget.components}}
                            <label>Item Comments</label>
                            {{=form.custom.widget.comments}}
                        </div>
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- ./column2-->
            
             <div class="col-xs-3"><!-- Start column3-->
            <!-- Form Element sizes -->
                <div class="box box-success">
                    <div class="box-body">
                        <div>
                           
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Tag Number</th>
                                        <td>12345</td>
                                    </tr>
                                    <tr>
                                        <th>Dept.</th>
                                        <td>Chemistry</td>
                                    </tr>
                                    <tr>
                                        <th>P.I.</th>
                                        <td>Mike Fournier</td>
                                    </tr>
                                    <tr>
                                        <th>Room Building </th>
                                        <td>120 Latimer</td>
                                    </tr>
                                    <tr>
                                         <th>Accumulation<br> Start Date</th>
                                         <td>1-1-2015</td>
                                    </tr>
                                    <tr>
                                         <th>Pickup Date</th>
                                         <td>1-15-15</td>
                                    </tr>
                                    <tr>
                                         <td colspan="2"><strong>Tag Comments</strong><br> text text textmore text even more even more even more even more even more </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        
                    </div><!-- End box-body-->
                </div> <!-- End box box-success-->
            </div><!-- ./column3-->
            

        

            
        </div><!-- /.row -->
        <div class="box-footer">
            <div class=" btn ">{{=cancelbutton}}</div>

            

            
      <a id="printButton"  class="btn btn-default"><i class="fa fa-print"></i> Print Label</a>
            
            
<div class=" pull-right"> {{=form.custom.submit}}</div>
        </div>
    </div><!-- /.content -->


       
{{=form.custom.end}}<!-- /.form -->    

        <label for="textTextArea">Label text:</label><br/>
        <textarea name="textTextArea" id="textTextArea"  rows='5' cols='40'>{{=labeltext}}</textarea>
    </div>
            <!-- </form>-->
